/* hidden span to ensure fixed navbar does not cover text,
   found from https://pixelflips.com/blog/anchor-links-with-a-fixed-header */
.anchor {
	display: block;
	height: 56px; /* same height as header */
	margin-top: -56px; /* same height as header */
	visibility: hidden;
}

#landing-screen-text {
	height: 400px;
}
