body {
	background-color: #330066;
	border-style:double;
	border-color: #FFFFFF;
	border-width: 5pt;
	color:#FFFFFF;
	font-family: Georgia;
}

h1{
	font-size: 20pt;
}

h2{
	text-align: center;
	font-size: 17.5pt;
}

h3{
	margin: 5px 5px 5px 5px;
	padding-top: 20px;
}

h4{
	margin: 5px 5px 5px 5px;
	padding: 0px 0px 0px 0px;
}

p{
	font-size: 11pt;
	margin: 5px 5px 5px 5px;
	padding: 0px 0px 0px 0px;
}

l{
	margin: 2px 2px 2px 2px;
	padding: 0px 0px 0px 0px;
}