.container-fluid {
	width: 90%;
}
/* default navbar menu item state */
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.4);
}

/* inactive navbar menu item states */
.nav-link:hover .nav-text,
.nav-link:focus .nav-text {
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(0,0,0,.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(0,0,0,.5);
}

/* active navbar menu item states */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active {
	color: rgba(0,0,0,.9);
}

.nav-link.active:hover .nav-text,
.nav-link.active:focus .nav-text {
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(0,0,0,.9);
}

hr {
	width: 30%;
	border-top: 3px dotted rgba(0,0,0,.5);
}

/* hidden span to ensure fixed navbar does not cover text,
   found from https://pixelflips.com/blog/anchor-links-with-a-fixed-header */
.anchor {
	display: block;
	height: 56px; /* same height as header */
	margin-top: -56px; /* same height as header */
	visibility: hidden;
}

#landing-screen-text {
	height: 200px;
}

section {
	margin-bottom: 200px;
}